/* Allgemeine Stile */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaebea; 
    display: flex;
    flex-direction: column;
}

.blue-bar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    max-height: 40px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

nav {
    display: none;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Seitenleiste */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50; /* Beispiel-Farbe */
    position: fixed; /* Fixiert die Seitenleiste */
    top: 0;
    left: -250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    transition: left 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar.close {
    left: -250px;
}

.sidebar .menu-container {
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .menu-container .menu_items {
    list-style: none;
    padding: 0;
}

.sidebar .menu-container .menu_items .menu_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sidebar .menu-container .menu_items .menu_title .title {
    font-size: 16px;
    font-weight: bold;
}

.sidebar .menu-container .menu_items .menu_title .line {
    flex-grow: 1;
    height: 1px;
    background-color: #bdc3c7; /* Beispiel-Farbe */
    margin-left: 10px;
}

.sidebar .menu-container .menu_items .submenu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar .menu-container .menu_items .submenu li {
    margin-bottom: 5px;
}

.sidebar .menu-container .menu_items .submenu li a {
   
