/* Allgemeine Stile */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaebea; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: #35b81c;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

main {
    flex: 1;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.flex {
    display: flex; 
    align-items: center; 
}

/* Seitenleiste */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50; /* Beispiel-Farbe */
    position: fixed; /* Fixiert die Seitenleiste */
    top: 0;
    left: -250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    transition: left 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar.close {
    left: -250px;
}

.sidebar .logo-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.sidebar .logo-items i {
    color: #ecf0f1
